@import url(./common.css);
:root {
  --color-blue: #34547a;
  --color-grey: #eeeff1;
  --color-dark-grey: #727272;
}
.body {
  background: #ffffff;
}
.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 37.5px;
  margin-bottom: 50px;
}

.description {
  color: var(--color-dark-grey);
  max-width: 540px;
}
.section-title + .description {
  margin-left: auto;
  margin-right: auto;
}
.extra-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
}

/*------------------HEADER------------------------*/

.nav-link {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.nav-link + .nav-link {
  margin-left: 42px;
}
.nav-link:hover {
  color: var(--color-blue);
}
.header {
  background-color: var(--color-grey);
  padding-top: 79px;
}
/*-----------------------SECTION-1----------------------*/
.first-section {
  background-color: var(--color-grey);
  padding-top: 151px;
  padding-bottom: 141px;
}
.main-title {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 60px;
}

.button {
  color: #ffffff;
  background-color: var(--color-blue);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px 41px;
  margin-top: 65px;
  cursor: pointer;
}

/*----------------------SECTION-ABOUT---------------------*/

.about-section {
  padding-top: 112px;
  padding-bottom: 100px;
  text-align: center;
}

/*----------------------SECTION-CARD---------------------*/
.card-section {
  background-color: var(--color-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: inline-block;
  color: #ffffff;
  max-width: 141px;
}
.card + .card {
  margin-left: 53px;
}

.card-description {
  margin-top: 5px;
}
.left-part {
  float: left;
  max-width: 50%;
  padding-right: 20px;
}

.right-part {
  float: right;
  max-width: 50%;
}
/*-----------------------------------------------------------------*/

.video-section {
  background-color: var(--color-grey);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.video {
  margin-top: 57px;
}

/*--------------------------------------------------------------------*/

.footer {
  background-color: var(--color-blue);
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.copyright {
  font-size: 13px;
  margin-top: 20px;
}
