* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
* {
  margin: 5px;
  padding: 1px;
  background-color: rgb(217, 222, 228);
}
a {
  color: blue;
}
